@tailwind base;
@tailwind components;
@tailwind utilities;

Header ul li{
  @apply px-3
}

.bg-primary{
  background-color: #2A8C82;
}

.bg-secondary{
  background-color:#41BFB3;
}

.mobile-nav{
  @apply fixed top-14 left-0 bg-slate-800 w-full h-32
  
}

.mobile-nav li{
  @apply text-center text-white border-b-2 h-full
}

.project{
  @apply  absolute top-0 left-0 right-0 bg-primary bottom-[0px] duration-500 opacity-0 hover:opacity-100
}

.btn{
  @apply bg-secondary px-4 py-2 font-bold hover:border-2 border-white rounded
}

html{
  scroll-behavior: smooth;
}

